.card {
  border: solid red;
  margin: 15rem;
}

body {
  margin: 0;
  padding: 0;
  /*font-size: 1rem;
  height: 100vh;*/
  display: flex;
  justify-content: center;

}

h1{
    display: none;
}

.row {
  justify-content: center;
  align-items: center;
  padding: 0;
  border: solid blue;
}

.col-lg-4 {
  border: solid fuchsia;
  margin-bottom: 6px;
}

.profile-image {
  border: solid black;
}

.col-lg-8 {
  border: solid red;
  background-color: white;
}

.btn {
  margin: 10px;
}

.profile-page{
  height: 100em;
  margin-bottom: 0;
  margin-top: 90rem;
}

@media only screen and (min-width: 1440px) and (min-width: 1040px)  {
    .profile-header {
        margin: 15rem;
      } 
}

@media only screen and (min-width: 630px) {
  .card {
    margin: 10rem;
  }
}

@media screen and (min-width: 2560px) {
  /*body{
    margin-left: -65rem;
    padding: 10r
  }

  .profile-header {
    margin: 50rem;
  }
  
  .center-profil{
    margin-left: -30rem;
    padding: 5rem;
  }*/

  .row{
    padding: 0;
  }

  .profile-page{
    height: 100em;
    margin-bottom: 0;
    margin-top: 90rem;
  }
}

