.App {
    background-color: #FD2D01;
}

.center-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 167vh;
    /*border: solid fuchsia;*/
}

.Auth-form{
    width: 250px;
    box-shadow: rgd(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: #ffd7d7;
}

.Auth-form-title{
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.form-outline{
  padding-left: 12%;
  padding-right: 12%;
}

.form-label{
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

button{
    background-color: #FD2D01!important;
    border: none!important;;
}