.App {
  text-align: center;
}

h1, h4, p {
  display: flex;
  font-family: lato;
  text-align: center;
    /*font-family: 'Dancing Script', cursive;*/
  /*font-weight: 700;
  text-shadow: 2px 2px 5px black;
  color: white;
  border: solid 2px;
  background-color: beige;
  padding: 2em;
  color: red;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(98, 23, 23);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(253,45,1,var(--tw-bg-opacity));
}

.flex-col {
  flex-direction: column;
}

.min-h-screen {
  height: 100vh;
}

.flex {
  display: flex;

}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.h-full {
  height: 100%;
}
